@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-10: 255 255 255;
    --gray-20: 240 240 240;
    --gray-30: 226 226 226;
    --gray-40: 174 174 174;
    --gray-50: 145 145 145;
    --gray-60: 118 118 118;
    --gray-70: 75 75 75;
    --gray-80: 61 61 61;
    --gray-90: 53 53 53;
    --primary: 36 204 168;
    --accent: 15 23 42;

    --radius: 8px;
  }

  * {
    @apply border-border;
  }

  html {
    font-size: 16px;
  }
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    /* background: var(--muted-background); */
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(var(--primary-50) / 20);
    border-radius: 2px;
  }
}
